.elementor-15 .elementor-element.elementor-element-27e224d:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-27e224d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #024126;
	background-image: url("../../2021/09/crunch-global-products.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-15 .elementor-element.elementor-element-27e224d > .elementor-background-overlay {
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-27e224d {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 180px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-ecd446d {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15 .elementor-element.elementor-element-ecd446d > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-1d8c5ce .elementor-spacer-inner {
	height: 15px;
}

.elementor-15 .elementor-element.elementor-element-6033ed2 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-2e1dd8a .elementor-spacer-inner {
	height: 40px;
}

.elementor-15 .elementor-element.elementor-element-a0df17d {
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-a0df17d img {
	width: 100%;
	transition-duration: 0.3s;
}

.elementor-15 .elementor-element.elementor-element-1e6ad0b7:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-1e6ad0b7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../../2020/03/wine3-sectionbg3.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.elementor-15 .elementor-element.elementor-element-1e6ad0b7 > .elementor-background-overlay {
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-1e6ad0b7 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 25px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-32773b25 {
	padding: 10px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-4963e2fb {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-4963e2fb > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-40349348 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-28b18dfe {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-28b18dfe > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-6c7d3c50 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-1401c50d {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-1401c50d > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-a1073a5 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-225aa0c8 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-225aa0c8 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-17781665 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-631bf7c5 {
	padding: 10px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-53293ab5 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-53293ab5 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-68ddbf37 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-2ad4ee4c {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-2ad4ee4c > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-30ebbfd1 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-6e57ba9d {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-6e57ba9d > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-25962c29 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-6f9bafb9 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-6f9bafb9 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-2e634b0a .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-3d749898 {
	padding: 10px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-79451f25 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-79451f25 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-1c95ad6 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-382e0cae {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-382e0cae > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-1d429885 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-449d9d03 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-449d9d03 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-207fa5e3 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-67be14dc {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-67be14dc > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-22e72767 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-6fd891de {
	padding: 10px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-2031236c {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-2031236c > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-10981e25 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-630c52aa {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-630c52aa > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-7b3cefed .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-6a3e9553 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-6a3e9553 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-3882611a .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-3df47827 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-3df47827 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-d111f54 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-16be287c {
	padding: 10px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-7439aa11 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-7439aa11 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-34123774 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-5627b1a6 {
	column-gap: 0px;
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-5627b1a6 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-4b8caff6 .elementor-button {
	background-color: #075e54;
}

.elementor-15 .elementor-element.elementor-element-4b17f8a:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-4b17f8a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-15 .elementor-element.elementor-element-4b17f8a > .elementor-background-overlay {
	background-image: url("../../2021/08/Background-Overlay.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-4b17f8a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-6362211 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-15 .elementor-element.elementor-element-38c525f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-15 .elementor-element.elementor-element-70c00a5 {
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-d43dde1 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-e03cc14 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-34e8de0 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-a81c695 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-9c16919 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-0c349b4 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-bb3dcbe > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-c0c38e0:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-c0c38e0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-15 .elementor-element.elementor-element-c0c38e0 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15 .elementor-element.elementor-element-c0c38e0 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-17d3262 img {
	width: 1000%;
}

.elementor-15 .elementor-element.elementor-element-0268e1f {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-0268e1f > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-adb922a:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-adb922a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../../2020/03/wine3-sectionbg1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
	display: none;
}

.elementor-15 .elementor-element.elementor-element-adb922a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 10px 0px;
}

.elementor-15 .elementor-element.elementor-element-adb922a > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-7649e21 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-fae1fd1 {
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-fae1fd1 > .elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-15 .elementor-element.elementor-element-4bd4976 {
	text-align: center;
}

.elementor-15 .elementor-element.elementor-element-58fa2fd .elementor-button {
	background-color: #128c7e;
	border-radius: 0px 0px 0px 0px;
	padding: 15px 20px 15px 20px;
}

.elementor-15 .elementor-element.elementor-element-58fa2fd .elementor-button:hover, .elementor-15 .elementor-element.elementor-element-58fa2fd .elementor-button:focus {
	background-color: #410113;
}

.elementor-15 .elementor-element.elementor-element-58fa2fd > .elementor-widget-container {
	padding: 0% 0% 0% 0%;
}

.elementor-15 .elementor-element.elementor-element-e19580e > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

@media(min-width:768px) {
	.elementor-15 .elementor-element.elementor-element-d173a90 {
		width: 22%;
	}

	.elementor-15 .elementor-element.elementor-element-0279dd4 {
		width: 55.332%;
	}

	.elementor-15 .elementor-element.elementor-element-c9e1efb {
		width: 22%;
	}
}

@media(max-width:767px) {
	.elementor-15 .elementor-element.elementor-element-4b17f8a {
		padding: 0px 0px 0px 0px;
	}

	.elementor-15 .elementor-element.elementor-element-17d3262 > .elementor-widget-container {
		margin: 7px 0px 0px 0px;
	}

	.elementor-15 .elementor-element.elementor-element-adb922a:not(.elementor-motion-effects-element-type-background), .elementor-15 .elementor-element.elementor-element-adb922a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-position: center center;
		background-size: contain;
	}

	.elementor-15 .elementor-element.elementor-element-adb922a {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-15 .elementor-element.elementor-element-7649e21 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}

	.elementor-15 .elementor-element.elementor-element-e19580e > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}
}