.elementor-17 .elementor-element.elementor-element-421ade7:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-421ade7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
	background-image: url("../../2021/09/Contact_Us.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-17 .elementor-element.elementor-element-421ade7 > .elementor-background-overlay {
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-421ade7 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 180px 0px 225px 0px;
}

.elementor-17 .elementor-element.elementor-element-3611686 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-3611686 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-9a50add.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-17 .elementor-element.elementor-element-9a50add.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-17 .elementor-element.elementor-element-9a50add > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px;
}

.elementor-17 .elementor-element.elementor-element-4b72cea .elementor-spacer-inner {
	height: 25px;
}

.elementor-17 .elementor-element.elementor-element-b17c33c {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-92f4914 .elementor-spacer-inner {
	height: 60px;
}

.elementor-17 .elementor-element.elementor-element-6cd534c:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-6cd534c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-17 .elementor-element.elementor-element-6cd534c > .elementor-background-overlay {
	background-image: url("../../2021/08/Background-border-bottom.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-6cd534c {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 125px 0px;
}

.elementor-17 .elementor-element.elementor-element-668c29e > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-a0bc911 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-a0bc911.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-a0bc911.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-a0bc911.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-a0bc911.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-a0bc911.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-a0bc911 .elementor-icon i, .elementor-17 .elementor-element.elementor-element-a0bc911 .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-17 .elementor-element.elementor-element-7f893a9 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-831e010 > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-93a41d7 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-93a41d7.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-93a41d7.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-93a41d7.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-93a41d7.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-93a41d7.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-93a41d7 .elementor-icon i, .elementor-17 .elementor-element.elementor-element-93a41d7 .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-17 .elementor-element.elementor-element-b074d8b {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-d582401 > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-cb65181 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-cb65181.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-cb65181.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-cb65181.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-cb65181.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-cb65181.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-cb65181 .elementor-icon i, .elementor-17 .elementor-element.elementor-element-cb65181 .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-17 .elementor-element.elementor-element-95d4d0c {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-d82e641 .elementor-spacer-inner {
	height: 25px;
}

.elementor-17 .elementor-element.elementor-element-418b66f > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-8fcff0d .elementor-icon-wrapper {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-8fcff0d.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-8fcff0d.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-8fcff0d.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-8fcff0d.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-8fcff0d.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-8fcff0d .elementor-icon i, .elementor-17 .elementor-element.elementor-element-8fcff0d .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-17 .elementor-element.elementor-element-cc9b0f6 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-4b8d518 > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-674c5a6 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-674c5a6.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-674c5a6.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-674c5a6.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-674c5a6.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-674c5a6.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-674c5a6 .elementor-icon i, .elementor-17 .elementor-element.elementor-element-674c5a6 .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-17 .elementor-element.elementor-element-4e5d739 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-ec7467d > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-159a43a .elementor-icon-wrapper {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-159a43a.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-159a43a.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-159a43a.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-159a43a.elementor-view-framed .elementor-icon, .elementor-17 .elementor-element.elementor-element-159a43a.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-159a43a .elementor-icon i, .elementor-17 .elementor-element.elementor-element-159a43a .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-17 .elementor-element.elementor-element-4b827bd {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-94e3155 .elementor-spacer-inner {
	height: 20px;
}

.elementor-17 .elementor-element.elementor-element-acddf02 {
	--divider-border-style: solid;
	--divider-color: #DBC5C5;
	--divider-border-width: 1.5px;
}

.elementor-17 .elementor-element.elementor-element-acddf02 .elementor-divider-separator {
	width: 100%;
}

.elementor-17 .elementor-element.elementor-element-acddf02 .elementor-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-17 .elementor-element.elementor-element-f471085 > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-6301dcf {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-acd39d1 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-46c4895 > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-9230310 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-f54c5e8 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-e162417 > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-025bbf7 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-53f32c3 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-5c27084 > .elementor-element-populated {
	padding: 0% 12% 0% 0%;
}

.elementor-17 .elementor-element.elementor-element-84657d5 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-2161280 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-6f3e3ba {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
    display: none;
}

.elementor-17 .elementor-element.elementor-element-6f3e3ba > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-1c4f0c8:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-1c4f0c8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../../2020/03/wine3-sectionbg1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
}

.elementor-17 .elementor-element.elementor-element-1c4f0c8 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 10px 0px;
}

.elementor-17 .elementor-element.elementor-element-1c4f0c8 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-47f0393 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-6fc0fb6 .elementor-spacer-inner {
	height: 60px;
}

.elementor-17 .elementor-element.elementor-element-ca47011 {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-ca47011 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-e203f9f > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-cc35397 > .elementor-container {
	max-width: 1063px;
}

.elementor-17 .elementor-element.elementor-element-cc35397 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-cc35397 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-a603d46:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-a603d46 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-17 .elementor-element.elementor-element-a603d46 > .elementor-background-overlay {
	background-image: url("../../2021/08/Background-Overlay.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-a603d46 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 130px 0px 40px 0px;
}

.elementor-17 .elementor-element.elementor-element-f91990b:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-f91990b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #024126;
}

.elementor-17 .elementor-element.elementor-element-f91990b {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-f91990b > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-5402d95 img {
	width: 100%;
}

.elementor-17 .elementor-element.elementor-element-5402d95 > .elementor-widget-container {
	background-color: #128c7e;
}

@media(max-width:767px) {
	.elementor-17 .elementor-element.elementor-element-6cd534c {
		padding: 0px 0px 0px 0px;
	}

	.elementor-17 .elementor-element.elementor-element-1c4f0c8:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-1c4f0c8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-position: center center;
		background-size: contain;
	}

	.elementor-17 .elementor-element.elementor-element-1c4f0c8 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-17 .elementor-element.elementor-element-47f0393 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}

	.elementor-17 .elementor-element.elementor-element-e203f9f > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}

	.elementor-17 .elementor-element.elementor-element-5402d95 > .elementor-widget-container {
		margin: 7px 0px 0px 0px;
	}
}

@media(min-width:768px) {
	.elementor-17 .elementor-element.elementor-element-9a50add {
		width: 100%;
	}

	.elementor-17 .elementor-element.elementor-element-c1550bd {
		width: 22%;
	}

	.elementor-17 .elementor-element.elementor-element-01cf9b0 {
		width: 55.332%;
	}

	.elementor-17 .elementor-element.elementor-element-dfa7c6c {
		width: 22%;
	}
}