.elementor-13 .elementor-element.elementor-element-f57a44e:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-f57a44e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #024126;
	background-image: url("../../2021/09/Ratanraj-Our-gallery.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-13 .elementor-element.elementor-element-f57a44e > .elementor-background-overlay {
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-f57a44e {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 180px 0px 100px 0px;
}

.elementor-13 .elementor-element.elementor-element-1f18d5c {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 1px 1px 1px 1px;
}

.elementor-13 .elementor-element.elementor-element-1f18d5c > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-ce799eb .elementor-spacer-inner {
	height: 30px;
}

.elementor-13 .elementor-element.elementor-element-5ffc288 {
	text-align: center;
}

.elementor-13 .elementor-element.elementor-element-4fc9642 .elementor-spacer-inner {
	height: 60px;
}

.elementor-13 .elementor-element.elementor-element-c88fe8b:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-c88fe8b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-13 .elementor-element.elementor-element-c88fe8b {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-c88fe8b > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-eae8223 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-13 .elementor-element.elementor-element-0e6b5fe .gallery-item {
	padding: 0 25px 25px 0;
}

.elementor-13 .elementor-element.elementor-element-0e6b5fe .gallery {
	margin: 0 -25px -25px 0;
}

.elementor-13 .elementor-element.elementor-element-0e6b5fe .gallery-item .gallery-caption {
	text-align: center;
}

.elementor-13 .elementor-element.elementor-element-6fe248d:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-6fe248d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-13 .elementor-element.elementor-element-6fe248d {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-13 .elementor-element.elementor-element-6fe248d > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-afba57b > .elementor-container > .elementor-column > .elementor-widget-wrap {
	align-content: space-between;
	align-items: space-between;
}

.elementor-13 .elementor-element.elementor-element-afba57b {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-afba57b > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-b71f1f5:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-b71f1f5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../../2020/03/wine3-sectionbg1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
    display: none;
}

.elementor-13 .elementor-element.elementor-element-b71f1f5 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 10px 0px;
}

.elementor-13 .elementor-element.elementor-element-b71f1f5 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-13 .elementor-element.elementor-element-c1e5775 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-13 .elementor-element.elementor-element-b518186 img {
	width: 1000%;
}

.elementor-13 .elementor-element.elementor-element-41e17f6 {
	text-align: center;
}

.elementor-13 .elementor-element.elementor-element-41e17f6 > .elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-13 .elementor-element.elementor-element-e95f953 {
	text-align: center;
}

.elementor-13 .elementor-element.elementor-element-5507e3f .elementor-button {
	background-color: #128c7e;
	border-radius: 0px 0px 0px 0px;
	padding: 15px 20px 15px 20px;

}

.elementor-13 .elementor-element.elementor-element-5507e3f .elementor-button:hover, .elementor-13 .elementor-element.elementor-element-5507e3f .elementor-button:focus {
	background-color: #410113;
}

.elementor-13 .elementor-element.elementor-element-5507e3f > .elementor-widget-container {
	padding: 0% 0% 0% 0%;
}

.elementor-13 .elementor-element.elementor-element-d6e3d50 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

@media(min-width:768px) {
	.elementor-13 .elementor-element.elementor-element-d874fbb {
		width: 22%;
	}

	.elementor-13 .elementor-element.elementor-element-32397e5 {
		width: 55.332%;
	}

	.elementor-13 .elementor-element.elementor-element-07d0997 {
		width: 22%;
	}
}

@media(max-width:767px) {
	.elementor-13 .elementor-element.elementor-element-c88fe8b {
		padding: 0px 0px 0px 0px;
	}

	.elementor-13 .elementor-element.elementor-element-b71f1f5:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-b71f1f5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-position: center center;
		background-size: contain;
	}

	.elementor-13 .elementor-element.elementor-element-b71f1f5 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-13 .elementor-element.elementor-element-c1e5775 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}

	.elementor-13 .elementor-element.elementor-element-b518186 > .elementor-widget-container {
		margin: 7px 0px 0px 0px;
	}

	.elementor-13 .elementor-element.elementor-element-d6e3d50 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}
}