.elementor-2 .elementor-element.elementor-element-8cac1a5:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-8cac1a5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-8cac1a5 > .elementor-background-overlay {
	background-image: url("../../2021/08/Background-Overlay.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-8cac1a5 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-1332b9f > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-1332b9f > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-c4462b9 {
	padding: 35px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4d1b8eb {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-721f9a6 {
	padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-fd2be3e .elementor-button {
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #128c7e;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	padding: 15px 20px 15px 20px;
}

.elementor-2 .elementor-element.elementor-element-fd2be3e .elementor-button:hover, .elementor-2 .elementor-element.elementor-element-fd2be3e .elementor-button:focus {
	background-color: #410113;
}

.elementor-2 .elementor-element.elementor-element-fd2be3e > .elementor-widget-container {
	padding: 0px 3px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3a65e7c > .elementor-element-populated {
	padding: 0px 0px 0px 3px;
}

.elementor-2 .elementor-element.elementor-element-9657b8a .elementor-button {
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #128c7e;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	padding: 15px 20px 15px 20px;
}

.elementor-2 .elementor-element.elementor-element-9657b8a .elementor-button:hover, .elementor-2 .elementor-element.elementor-element-9657b8a .elementor-button:focus {
	background-color: #410113;
}

.elementor-2 .elementor-element.elementor-element-9657b8a > .elementor-widget-container {
	padding: 0px 3px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-ae4bc70:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-ae4bc70 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-ae4bc70 > .elementor-background-overlay {
	background-image: url("../../2021/08/Background-border-bottom.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-ae4bc70 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 50px 0px;
}

.elementor-2 .elementor-element.elementor-element-eb35b7c > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-eb35b7c > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-1062ecb:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-1062ecb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../../2020/03/wine3-sectionbg3.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.elementor-2 .elementor-element.elementor-element-1062ecb > .elementor-background-overlay {
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-1062ecb {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 25px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-21671b6 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-21671b6 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-c8f29f9 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-eca7f3d {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-579831e {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-579831e > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-08fb725 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-cbf7acf {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-cbf7acf > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-cee651b .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-57e8b22 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-57e8b22 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-65b99a8 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-ce93342 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-ce93342 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-a94a15e .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-c2a5385 {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-905a107 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-905a107 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-05e2dbc .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-4e1e350 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-4e1e350 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-111ada2 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-844994e {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-844994e > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-debf5c0 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-0d1ad4c {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-0d1ad4c > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-d77d166 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-d7afb1d {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-6aea4d4 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-6aea4d4 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-155e14e .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-c410450 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-c410450 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-372459b .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-6a50c07 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-6a50c07 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-9011fb6 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-d351313 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-d351313 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-9f7a243 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-3308f79 {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-821e28b {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-821e28b > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-8cf2909 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-99bf0a9 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-99bf0a9 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-ad610a7 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-84877bb {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-84877bb > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-18d6b68 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-b549acf {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-b549acf > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-04c8b46 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-170ac7c {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-a3ada9c {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-a3ada9c > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-0b7f8f0 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-941bda0 {
	column-gap: 0px;
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-941bda0 > .elementor-widget-container {
	padding: 02px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-35dc3c8 .elementor-button {
	background-color: #075e54;
}

.elementor-2 .elementor-element.elementor-element-b60042f:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-b60042f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../../2020/03/wine3-sectionbg3.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.elementor-2 .elementor-element.elementor-element-b60042f > .elementor-background-overlay {
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-b60042f {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-f7d6851 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-f7d6851 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-74dfa31 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-f69f531 {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-963f94b .elementor-icon-wrapper {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-963f94b.elementor-view-stacked .elementor-icon {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-963f94b.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-963f94b.elementor-view-default .elementor-icon {
	color: #128c7e;
	border-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-963f94b.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-963f94b.elementor-view-default .elementor-icon svg {
	fill: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-963f94b .elementor-icon i, .elementor-2 .elementor-element.elementor-element-963f94b .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-2 .elementor-element.elementor-element-1dada15 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-1dada15 > .elementor-widget-container {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-d4452d6 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-d4452d6.elementor-view-stacked .elementor-icon {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-d4452d6.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-d4452d6.elementor-view-default .elementor-icon {
	color: #128c7e;
	border-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-d4452d6.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-d4452d6.elementor-view-default .elementor-icon svg {
	fill: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-d4452d6 .elementor-icon i, .elementor-2 .elementor-element.elementor-element-d4452d6 .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-2 .elementor-element.elementor-element-895e43e {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-895e43e > .elementor-widget-container {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-89d5ea5 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-89d5ea5.elementor-view-stacked .elementor-icon {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-89d5ea5.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-89d5ea5.elementor-view-default .elementor-icon {
	color: #128c7e;
	border-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-89d5ea5.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-89d5ea5.elementor-view-default .elementor-icon svg {
	fill: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-89d5ea5 .elementor-icon i, .elementor-2 .elementor-element.elementor-element-89d5ea5 .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-2 .elementor-element.elementor-element-f2f45d6 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-f2f45d6 > .elementor-widget-container {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4ef3b8c .elementor-icon-wrapper {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-4ef3b8c.elementor-view-stacked .elementor-icon {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-4ef3b8c.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-4ef3b8c.elementor-view-default .elementor-icon {
	color: #128c7e;
	border-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-4ef3b8c.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-4ef3b8c.elementor-view-default .elementor-icon svg {
	fill: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-4ef3b8c .elementor-icon i, .elementor-2 .elementor-element.elementor-element-4ef3b8c .elementor-icon svg {
	transform: rotate(0deg);
}

.elementor-2 .elementor-element.elementor-element-c94d300 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-c94d300 > .elementor-widget-container {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-68b6629:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-68b6629 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-68b6629 > .elementor-background-overlay {
	background-image: url("../../2021/08/Background-Overlay.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-68b6629 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-1477999 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-439f3f8 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-d432460 > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-2 .elementor-element.elementor-element-51c9a6c > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-2 .elementor-element.elementor-element-08de85d > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-2 .elementor-element.elementor-element-032b6a4 > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-2 .elementor-element.elementor-element-8cc46f8 > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-2 .elementor-element.elementor-element-639e6e6 > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-2 .elementor-element.elementor-element-07f6cb7 > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-2 .elementor-element.elementor-element-aeb7f7f:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-aeb7f7f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #128c7e;
}

.elementor-2 .elementor-element.elementor-element-aeb7f7f {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-aeb7f7f > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-193e917 img {
	width: 1000%;
}

.elementor-2 .elementor-element.elementor-element-6c83478 .elementor-spacer-inner {
	height: 10px;
}

.elementor-2 .elementor-element.elementor-element-51c8cbc {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-ea261bd {
	padding: 10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-65f956d {
	color: #000000;
}

.elementor-2 .elementor-element.elementor-element-25f9611 .elementor-spacer-inner {
	height: 10px;
}

.elementor-2 .elementor-element.elementor-element-861ccc7 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-70cc7b0 .elementor-spacer-inner {
	height: 50px;
}

.elementor-2 .elementor-element.elementor-element-6be3eec {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -20px;
	margin-bottom: 0px;
	padding: 0px 0px 50px 0px;
    display: none;
}

.elementor-2 .elementor-element.elementor-element-6be3eec > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-785e580:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-785e580 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../../2020/03/wine3-sectionbg1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
}

.elementor-2 .elementor-element.elementor-element-785e580 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 10px 0px;
}

.elementor-2 .elementor-element.elementor-element-785e580 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4757d96 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-081ab1d {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-081ab1d > .elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-2 .elementor-element.elementor-element-1b86ef4 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-89a5c49 .elementor-button {
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #128c7e;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	padding: 15px 20px 15px 20px;
}

.elementor-2 .elementor-element.elementor-element-89a5c49 .elementor-button:hover, .elementor-2 .elementor-element.elementor-element-89a5c49 .elementor-button:focus {
	background-color: #410113;
}

.elementor-2 .elementor-element.elementor-element-89a5c49 > .elementor-widget-container {
	padding: 0px 3px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-87a8f04 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

@media(min-width:768px) {
	.elementor-2 .elementor-element.elementor-element-7347cd5 {
		width: 22%;
	}

	.elementor-2 .elementor-element.elementor-element-a8f7333 {
		width: 55.332%;
	}

	.elementor-2 .elementor-element.elementor-element-7084ddc {
		width: 22%;
	}
}

@media(max-width:767px) {
	.elementor-2 .elementor-element.elementor-element-2789dd9 {
		width: 50%;
	}

	.elementor-2 .elementor-element.elementor-element-3a65e7c {
		width: 50%;
	}

	.elementor-2 .elementor-element.elementor-element-68b6629 {
		padding: 30px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-193e917 > .elementor-widget-container {
		margin: 7px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-785e580:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-785e580 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-position: center center;
		background-size: contain;
	}

	.elementor-2 .elementor-element.elementor-element-785e580 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-4757d96 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-87a8f04 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 30px 0px 0px 0px;
	}
}